@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");
/* universal common styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
  --skyblue: #4ec5f7;
  --pink_color: #ff42a5;
  --blue_color: #0b0223;
  --grey_color: #534c64;
  --blue_grey: rgba(11, 2, 35, 0.1);
  --blue_light: #534c64;
}
body {
  font-family: "Work Sans", sans-serif;
}
.text-gradient {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wrapper {
  width: 1140px;
  margin-inline: auto;
}

/* Nav section styles start here */
nav {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-logo {
  display: flex;
  align-items: center;
  font-size: 4.5rem;
  font-weight: 700;
  color: var(--blue_color);
}
.logo {
  width: 8.6rem;
  margin-right: 2rem;
}
#logo-g-text {
  color: var(--pink_color);
}
.nav-logo {
  width: 50%;
  font-size: 4.8rem;
  font-weight: 700;
  color: var(--blue_color);
}
.nav-container {
  padding: 3.6rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menus {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 500;
}
.follow-us {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background-color: var(--blue_grey);
  border-radius: 0.8rem;
  padding: 1.8rem 2.4rem;
  cursor: pointer;
}
.follow-us img {
  width: 2.4rem;
}
.nav-menus li {
  list-style: none;
}
.nav-menus li a {
  text-decoration: none;
  color: var(--blue_color);
}
/* Nav section styles start here */
