@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap");
/* universal common styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
  --skyblue: #4ec5f7;
  --pink_color: #ff42a5;
  --blue_color: #0b0223;
  --grey_color: #534c64;
  --blue_grey: rgba(11, 2, 35, 0.1);
  --blue_light: #534c64;
}
body {
  font-family: "Work Sans", sans-serif;
}
.bottom-space {
  margin-bottom: 1.6rem;
}
.title-text {
  font-size: 4.8rem;
  font-weight: 700;
}
.description-text {
  color: var(--blue_light);
  font-size: 2rem;
  font-weight: 500;
}
.text-gradient {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wrapper {
  width: 114rem;
  margin-inline: auto;
}
.button-primary {
  padding: 1rem 3rem;
  border: none;
  border-radius: 3rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}
.button-color-pink {
  background-color: var(--pink_color);
}
.button-color-skylue {
  background-color: var(--skyblue);
}
/* Nav section styles start here */
nav {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-logo {
  display: flex;
  align-items: center;
  font-size: 4.5rem;
  font-weight: 700;
  color: var(--blue_color);
}
.logo {
  width: 8.6rem;
  margin-right: 2rem;
}
#logo-g-text {
  color: var(--pink_color);
}
.nav-logo {
  width: 50%;
  font-size: 4.8rem;
  font-weight: 700;
  color: var(--blue_color);
}
.nav-container {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-menus {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 500;
}
.follow-us {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  background-color: var(--blue_grey);
  border-radius: 0.8rem;
  padding: 1.8rem 2.4rem;
  cursor: pointer;
}
.follow-us img {
  width: 2.4rem;
}
.nav-menus li {
  list-style: none;
}
.nav-menus li a {
  text-decoration: none;
  color: var(--blue_color);
}
/* Nav section styles end here */
/* banner section styles start here */
.banner-text {
  width: 50%;
}
.banner-text span {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  color: var(--blue_light);
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}
.banner-text p {
  font-size: 9.5rem;
  font-weight: 800;
}
.banner-text h1 {
  color: var(--blue_color);
  font-size: 4.8rem;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-images {
  width: 50%;
}
.banner-images img {
  width: 100%;
  object-fit: cover;
}
.banner-container {
  display: flex;
  align-items: center;
}
header {
  background-image: url("../images/Group 14.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}
.calltoaction-button {
  margin-top: 4rem;
  display: flex;
  gap: 2.4rem;
}
/* banner section styles end here */
/*main section starts here */
/* wearegammer section starts here */
.wearegammer-section {
  padding: 9.5rem 0rem;
}
.wearegammer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wearegammer-section-image {
  width: 60%;
}
.wearegammer-section-text {
  width: 40%;
  text-align: right;
}
.wearegammer-section-text h4 {
  color: var(--blue_light);
  font-family: Work Sans;
  font-size: 2rem;
  font-weight: 500;
}
.wearegammer-section-text h3 {
  color: var(--blue_light);

  font-size: 2.6rem;

  font-weight: 700;
}

.wearegammer-container img {
  width: 100%;
  object-fit: contain;
}
/* wearegammer section ends here  */
/* online games section starts here */
.online-games-container {
  display: flex;
  flex-direction: column;
  gap: 7rem;
}
.online-games-cards {
  display: flex;
  gap: 2rem;
}
.card img {
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}
.card {
  width: 32rem;
  height: 20rem;
  position: relative;
  cursor: pointer;
}

.card:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  border: 0.2rem solid var(--pink_color);
  border-radius: 1rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 159%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 4.8rem;
}

.text-overlay {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--pink_color);
  font-size: 2rem;
  font-weight: 700;
}
.online-games-text {
  text-align: center;
}
.online-games {
  margin-bottom: 30rem;
}
/* play instantly sectin style */
.play-instantly {
  margin-bottom: 5rem;
}
.play-instantly-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
}
.play-instantly-container2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
}
.play-instantly-text {
  width: 50%;
  text-align: right;
}
.play-instantly-text2 {
  width: 50%;
}
.play-instantly-img {
  position: relative;
  width: 50%;
}
.play-instantly-main-img {
  width: 100%;
  object-fit: cover;
}
.play-instantly-sub-img {
  width: 30%;
  object-fit: cover;

  position: absolute;
  bottom: -2rem;
  left: -6rem;
}
.play-instantly-main-img2 {
  width: 100%;
  object-fit: cover;
}
.play-instantly-sub-img2 {
  width: 30%;
  object-fit: cover;

  position: absolute;
  bottom: -2rem;
  right: -6rem;
}
