@media screen and (max-width: 576px) {
  :root {
    font-size: 40%;
  }
  .banner-images img {
    width: 100%;
    object-fit: cover;
  }
  .play-instantly-container,
  .play-instantly-container2 {
    flex-direction: column;
  }
  .online-games-cards {
    flex-direction: column;
    align-items: center;
    gap: 20rem;
    flex-wrap: wrap;
  }
  .card {
    margin-bottom: 4rem;
  }
  .nav-container,
  .nav-menus,
  .wearegammer-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }
  .wearegammer-section-text {
    width: 100%;
    text-align: center;
  }
  .wearegammer-section-image {
    width: 100%;
  }
  .banner-container {
    width: 100%;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .nav-logo,
  .nav-menus,
  .banner-text,
  .banner-images {
    align-content: center;
    justify-content: center;
  }
  .banner-images {
    width: 100%;
  }
  .banner-text {
    width: 100%;
    padding: 10rem 0rem 5rem 10rem;
  }
  .career-section-container {
    flex-direction: column;
  }
  .career-section-container-right-side,
  .career-section-container-left-side {
    width: 100%;
    margin-bottom: 5rem;
  }
  .career-section-container-right-side img {
    width: 100%;
    object-fit: cover;
    display: block;
  }
  .career-section {
    background-image: none;
  }
  .career-button-section-container {
  }
  .wrapper {
    width: 80%;
    margin-inline: auto;
  }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  :root {
    font-size: 50%;
  }
}
